<a href="https://colab.research.google.com/github/Nissun662/Data-Visual/blob/main/quiz16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Processing and Visualization
##Nishan Sunar
250662

#Today's assignment: 
Using the dataset from an IOT device retreived from [here](https://www.kaggle.com/atulanandjha/temperature-readings-iot-devices) and introduced to [here](https://analyticsindiamag.com/10-datasets-for-data-cleaning-practice-for-beginners/).  Uploaded to the web for you to retrieve easily here https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv Answer the folloiwng questions.

1. Convert the *noted_date* into DateTime, it is in day-month-Year Hour:Minute format.
1. What is the minimum and maximum date and time?
2. What is the largest interval inbetween temperature checks?
3. What is the average datetime?
4. What was the average outside temperature on '09-11-2018'?

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df.head(15)

                                     id  room_id/id  ... temp  out/in
0   __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1   __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2   __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3   __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4   __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
5   __export__.temp_log_196125_b0fa0b41  Room Admin  ...   31      In
6   __export__.temp_log_196121_01544d45  Room Admin  ...   29      In
7   __export__.temp_log_196122_f8b80a9f  Room Admin  ...   29      In
8   __export__.temp_log_196111_6b7a0848  Room Admin  ...   29      In
9   __export__.temp_log_196112_e134aebd  Room Admin  ...   29      In
10  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
11  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
12  __export__.temp_log_196101_d5ec7633  Room Admin  ...   29      In
13  __export__.temp_log_196099_3b8ef67b  Room Admin  ...   29      In
14  __export__.temp_log_196095_788b2c27  Room Admin  ...   29      In

[15 rows x 5 columns]

In [7]:
df.describe()

               temp
count  97606.000000
mean      35.053931
std        5.699825
min       21.000000
25%       30.000000
50%       35.000000
75%       40.000000
max       51.000000

1. Converting the noted_date into DateTime i.e; Day-month-year H:M style.

In [2]:
pd.to_datetime(df.noted_date,format='%d-%m-%Y %H:%M')

0       2018-12-08 09:30:00
1       2018-12-08 09:30:00
2       2018-12-08 09:29:00
3       2018-12-08 09:29:00
4       2018-12-08 09:29:00
                ...
97601   2018-07-28 07:07:00
97602   2018-07-28 07:07:00
97603   2018-07-28 07:06:00
97604   2018-07-28 07:06:00
97605   2018-07-28 07:06:00
Name: noted_date, Length: 97606, dtype: datetime64[ns]

As we can see in the above output, noted_date is now converted into `datetime64` datatype format. Noe, I am going to create new column for it which I am going to name DateTime.

In [7]:
df = df.assign(DateTime = pd.to_datetime(df.noted_date,format='%d-%m-%Y %H:%M'))
df

                                        id  ...            DateTime
0      __export__.temp_log_196134_bd201015  ... 2018-12-08 09:30:00
1      __export__.temp_log_196131_7bca51bc  ... 2018-12-08 09:30:00
2      __export__.temp_log_196127_522915e3  ... 2018-12-08 09:29:00
3      __export__.temp_log_196128_be0919cf  ... 2018-12-08 09:29:00
4      __export__.temp_log_196126_d30b72fb  ... 2018-12-08 09:29:00
...                                    ...  ...                 ...
97601   __export__.temp_log_91076_7fbd08ca  ... 2018-07-28 07:07:00
97602  __export__.temp_log_147733_62c03f31  ... 2018-07-28 07:07:00
97603  __export__.temp_log_100386_84093a68  ... 2018-07-28 07:06:00
97604  __export__.temp_log_123297_4d8e690b  ... 2018-07-28 07:06:00
97605  __export__.temp_log_133741_32958703  ... 2018-07-28 07:06:00

[97606 rows x 8 columns]

Calculating the maximum and minimum date and time:

In [10]:
print('maximum date and time: ' + str(max(df.DateTime)))

print('minimum date and time: ' + str(min(df.DateTime)))

maximum date and time: 2018-12-08 09:30:00
minimum date and time: 2018-07-28 07:06:00

Calculating the largest interval inbetween the temperature checks:

In [11]:
df['DateTime'].max() - df['DateTime'].min()

Timedelta('133 days 02:24:00')

To calculate average datetime:

In [12]:
df.DateTime.mean()

Timestamp('2018-10-07 05:10:38.821178880')

Finally, finding the average temperature on 9-11-2018: