<a href="https://colab.research.google.com/github/Nissun662/Data-Visual/blob/main/Quiz5(SQL_Essential).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Processing Visualization
## Nishan Sunar
Quiz 4

250662

Here, I am going to pull libraries needed for loading all the data sets and information. The following command does so. This command will also authenticates my dataset located in my Goodle Cloud Platform.

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

After I have been authenticated I am now going to plot the dataset of Austin Bikeshare in the Google Cloud Platform using BigQuery.

In [2]:
%%bigquery --project bustling-cosmos-338722
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

The name of my Project is bustling cosmos 338722. The LIMIT command on the last line of the code enables us to limit the number of rows to be displayed. I have displayed only 5 here.

#I am going to compute the average time for the trip based on the starting point.

In [16]:
%%bigquery --project bustling-cosmos-338722
SELECT 
  start_station_name, 
  AVG(duration_minutes) as Average_time_for_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name is not null 
GROUP BY start_station_name

                        start_station_name  Average_time_for_trip
0                         Zilker Park West              27.168259
1                  Toomey Rd @ South Lamar              28.115798
2          State Capitol @ 14th & Colorado              30.421842
3                         Waller & 6th St.              23.265843
4                               Pease Park              28.648889
..                                     ...                    ...
188  Republic Square @ Guadalupe & 4th St.              23.067313
189                             3rd & West              19.937466
190                               3rd/West              34.152547
191                          Nueces & 26th              16.805353
192                            26th/Nueces              24.521670

[193 rows x 2 columns]

#Here, I will compute exactly how many trip starts at each of the starting points.

In [14]:
%%bigquery --project bustling-cosmos-338722
SELECT 
  start_station_name,
  COUNT(*) as total_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY total_trips DESC

           start_station_name  total_trips
0        21st & Speedway @PCL        72799
1        Riverside @ S. Lamar        40635
2    City Hall / Lavaca & 2nd        36520
3              2nd & Congress        35307
4        Rainey St @ Cummings        34758
..                        ...          ...
188           Marketing Event            4
189             Eeyore's 2018            2
190                    Stolen            1
191             Eeyore's 2017            1
192     cesar Chavez/Congress            1

[193 rows x 2 columns]